.products-about-technology {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    justify-content: center;
}

.contents {
    width: 80%;
    margin: 0 auto;
}

.products-content-title {
    font-size: 10px;
}

.products-content-body div {
    display: flex;
    margin: 7px auto;
    padding: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.products-content-body div img {
    width: 30%;
    margin: 0 8px auto 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: contain;
}

.products-content-body div p {
    width: 40%;
    margin-top: 0;
}

/* 384px以下 */
@media only screen and (max-width: 45em) {
    .products-content-body div {
        flex-wrap: wrap;
    }

    .products-content-body div img {
        width: 100%;
        max-width: 200px;
    }

    .products-content-body div p {
        width: 100%;
    }
}
