.top-header-image {
    height: 30vh;
    min-height: 220px;
}

.about-site {
    width: 90%;
    margin: 0 auto;
}

ul.github-repositories-panel {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.github-repositories-comment {
    font-size: 12px;
    text-align: right;
    width: 80%;
}

li.dev-card {
    float: left;
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    width: 200px;
    height: 120px;
    background-color: #68A3A1;
    border-radius: 5px;
    text-align: left;
}

li.dev-card h1 {
    padding: 0;
    font-size: 18px;
    margin: 10px 0;
}

li.dev-card a {
    color: #e7edfb;
}

li.dev-card .language {
    font-size: 12px;
    margin: 0;
}

li.dev-card .description {
    margin: 4px 0;
    font-size: 12px;
    color: #060607db;
}

/* 768px以下 */
@media only screen and (max-width: 48em) {
    li.dev-card {
        width: 70%;
        height: 97px;
        margin: 2px auto;
    }
}
