/*
elm-hot creates an additional div wrapper around the app to make HMR possible.
This could break styling in development mode if you are using Elm UI.

More context in the issue:
https://github.com/halfzebra/create-elm-app/issues/320
 */
[data-elm-hot="true"] {
    height: inherit;
}

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    color: #293c4b;
}

.contents {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.contents h1 {
    font-size: 30px;
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 20px;
}

ul.top-menu {
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 80%;
    margin: 13px 0;
}

ul.top-menu li {
    float: left;
    list-style: none;
    border-right: 1px solid #bbbbbb;
    background-color: #4aa30f;
    margin: 0;
    padding: 7px 6px;
}

ul.top-menu li:hover {
    background-color: #D41319;
}

ul.top-menu li:lastchild {
    border-right: none;
}

ul.top-menu li a {
    display: block;
    text-align: center;
    padding: 5px 9px;
    text-decoration: none;
    color: #ffb;
}

dl.definition_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

dl.definition_list div {
    width: 48%;
    margin: 0 5px;
    padding: 0 -10px;
}

dl.definition_list dt {
    float: left;
    width: 60px;
    padding: 10px 0;
    border-top: solid 1px #A5A5A5;
    font-size: 12px;
    font-weight: bold;
}

dl.definition_list dd {
    float: left;
    width: calc(100% - 60px);
    padding: 10px 0;
    margin: auto 7px auto 10px;
    border-top: solid 1px #A5A5A5;
    font-size: 12px;
}

/* 768px以下 */
@media only screen and (max-width: 48em) {
    dl.definition_list{
        display: block;
    }

    dl.definition_list div{
        width: 100%;
    }

    dl.definition_list dt{
        font-size: 10px;
    }

    dl.definition_list dd{
        font-size: 10px;
    }
}

/* floatがあるのでclear */
.clearfix::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}

.linklist {
    width: 80%;
}

.linklist h1 {
    font-size: 18px;
    text-align: right;
}

.linklist ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.linklist li {
    float: left;
    list-style: none;
}

.linklist li+ li {
    border-left: 1px solid #333;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}
